<!DOCTYPE html>
html(lang="en")
  body
    div#modal.modal-wrap.flex-all-center.low
      div.modal-caption.col-lg-3.col-md-4.col-sm-6.col-xs-8.register-form.item-flex.flex-direction-column
        // register-host
        include ../../../views/register-host.pug