<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title NEWBELL에 오신걸 환영합니다. 
  body
    include ../public/pug/nav/nav.pug
    main
      section.main-wrap.row
        div.main-banner-wrap.col-lg-12.col-md-12.col-sm-12.item-flex.flex-all-center
          div.main-banner-caption.item-flex.flex-all-center
            h2 뉴벨은 새로운 메뉴 주문 시스템입니다.
        div.main-article-wrap.col-lg-12.col-md-12.col-sm-12.item-flex.flex-all-center
          div.main-aricle-content
            h3 <span class="glyphicon glyphicon-ok" aria-hidden="false"></span> 뉴벨로 앉아서 주문하세요! 기다림이 즐거워집니다!!
            p 테이블의 QR코드를 찍으면 (비콘으로 매장정보와 테이블을 자동인식하여) 어디서나 메뉴를 주문할 수 있습니다.
            p 메뉴판, 카운터 앞에서 서성이거나 종업원이 오기를 기다리지 않아도 OK!          
            p 주문시간을 단축해 맛있는 음식, 휴식과 즐거운 대화 중신의 식사시간을 자유롭게 즐기세요!