<!DOCTYPE html>
html(lang="en")
  head
    include ../cdn/cdn-bootstrap.pug
    style
      include ../../css/style.css 
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#')  
            img(src="public/img/logo.png", alt="")
        ul.nav.navbar-nav
          li.active
            a(href="#") ABOUT NEW BELL
          li.active
            a(href="#") Hardware
          li.active
            a(href="#") Pricing 